{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tethys_gizmos/css/tethys_snippets.css' %}" type="text/css" />

<div class="highcharts-plot" 
  {% if highcharts_object is string %}
    data-json="{{ highcharts_object }}"
  {% else %}
    data-json="{{ h.jsonify(highcharts_object) }}"
  {% endif %}
  style="min-width: {{ width }}; height: {{ height }}; margin: 0 auto;">
</div>

<script type="text/javascript" src="{% static 'tethys_gizmos/vendor/highcharts/js/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'tethys_gizmos/vendor/highcharts/js/highcharts-more.js' %}"></script>
<script type="text/javascript" src="{% static 'tethys_gizmos/vendor/highcharts/js/modules/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'tethys_gizmos/js/tethys_snippets.js' %}"></script>
