{% load tethys_gizmos %}

<table class="table {% if bordered %}table-bordered{% endif %} {% if hover %}table-hover{% endif %} {% if striped %}table-striped{% endif %} {% if condensed %}table-condensed{% endif %}">
    {% if column_names %}
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    {% for row in rows %}
      {% with row_idx=forloop.counter0 %}
      <tr>
        {% for column_value in row %}
          {% with col_idx=forloop.counter0 %}
            {% if editable_columns and editable_columns|return_item:col_idx %}
              {% if row_ids %}
                {% with identifier=editable_columns|return_item:col_idx|add:row_ids|return_item:row_idx %}
                  <td>
                    <input id="{{ identifier }}" name="{{ identifier }}" type="text" class="form-control input-sm" value="{{ column_value }}" style="margin-bottom: 0;">
                  </td>
                {% endwith %}
              {% else %}
                {% with identifier=editable_columns|return_item:col_idx|add:row_idx %}
                  <td>
                    <input id="{{ identifier }}" name="{{ identifier }}" type="text" class="form-control input-sm" value="{{ column_value }}" style="margin-bottom: 0;">
                  </td>
                {% endwith %}
              {% endif %}
            {% else %}
              <td>{{ column_value }}</td>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tr>
      {% endwith %}
    {% endfor %}
</table>
