<table class="table {% if bordered %}table-bordered{% endif %} {% if hover %}table-hover{% endif %} {% if striped %}table-striped{% endif %} {% if condensed %}table-condensed{% endif %}">
    {% if column_names %}
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    {% for row in rows %}
    {% set row_index = loop.index - 1 %}
    <tr>
      {% for column_value in row %}
        {% set column_index = loop.index - 1 %}
        {% if editable_columns and editable_columns[column_index] %}
          {% if row_ids %}
            {% set identifier = editable_columns[column_index] + row_ids[row_index]|string %}
          {% else %}
            {% set identifier = editable_columns[column_index] + row_index|string %}
          {% endif %}
          <td><input id="{{ identifier }}" name="{{ identifier }}" type="text" class="span2" value="{{ column_value }}" style="margin-bottom: 0;"></td>
        {% else %}
        <td>{{ column_value }}</td>
        {% endif %}
      {% endfor %}
    </tr>        
    {% endfor %}
</table>
