{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tethys_gizmos/css/tethys_snippets.css' %}" type="text/css" />

<div class="control-group {% if error %} error {% endif %}">
  {% if display_text %}<label class="control-label" for="{{ name }}">{{ display_text }}</label>{% endif %}
  <div class="controls">
    <div class="{% if prepend or icon_prepend %}input-prepend{% endif %} {% if append or icon_append %}input-append{% endif %}">
      {% if prepend %}
        <span class="add-on">{{ prepend }}</span>
      {% elif icon_prepend %}
        <span class="add-on"><i class="{{ icon_prepend }}"></i></span>
      {% endif %}
      <input id="{{ name }}"
           name="{{ name }}"
           type="text"
           {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
           {% if initial %}value="{{ initial }}"{% endif %}
           {% if disabled %}disabled{% endif %} >
      {% if append %}
        <span class="add-on">{{ append }}</span>
      {% elif icon_append %}
        <span class="add-on"><i class="{{ icon_append }}"></i></span>
      {% endif %}
    </div>
  </div>
  {% if error %}
  <span class="help-inline">{{ error }}</span>
  {% endif %}
</div>
