{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tethys_gizmos/vendor/bootstrap_switch/build/css/bootstrap2/bootstrap_switch_min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tethys_gizmos/css/tethys_snippets.css' %}" type="text/css" />

<div class="control-group {% if error %} error {% endif %}">
  {% if display_text %}<label class="control-label" for="{{ name }}">{{ display_text }}</label>{% endif %}
  <div class="controls">
    <input id="{{ name }}"
        name="{{ name }}"
        type="checkbox"
        class="bootstrap-switch {% if size %}switch-{{ size }}{% endif %}"
        data-on-label="{% if on_label %} {{ on_label }} {% else %}ON{% endif %}"
        data-off-label="{% if off_label %} {{ off_label }} {% else %}OFF{% endif %}"
        data-on="{% if on_style %} {{ on_style }} {% else %}primary{% endif %}"
        data-off="{% if off_style %} {{ off_style }} {% else %}defualt{% endif %}"
        {% if disabled %}disabled{% endif %}
        {% if initial %}checked{% endif %}>
  </div>
  {% if error %}
  <span class="help-inline">{{ error }}</span>
  {% endif %}
</div>

<script type="text/javascript" src="{% static 'tethys_gizmos/vendor/bootstrap_switch/build/js/bootstrap_switch_min.js' %}"></script>
<script type="text/javascript" src="{% static 'tethys_gizmos/js/tethys_snippets.js' %}"></script>
