{% load staticfiles %}

{% extends "page.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{% static 'tethys_gizmos/css/tethys_apps.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'tethys_gizmos/vendor/prism/prism.css' %}" type="text/css" />
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
      <h1>FetchClimate</h1>
      {% gizmo "fetchclimate" fetchclimate_map %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}

{% endblock %}

{% block scripts %}
	{{ super() }}	
{% endblock %}
