{% extends "page.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{% static 'tethys_gizmoscss/tethys_apps.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'tethys_gizmosvendor/prism/prism.css' %}" type="text/css" />
{% endblock %}

{% block primary %}
  <div class="module">
    <div class="module-content">
      <h1>Map View</h1>
      {% gizmo "map_view" map_view %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}	
{% endblock %}
